html{
    font-family:'Courier New', Courier, monospace;
    color: rgb(214, 214, 214);
    border-radius: 0;
    border-spacing: 0;
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0d0b33, rgb(17, 0, 80), #320d89, #380d89, #650D89, #920075, #F6019D, rgb(233, 172, 220));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: rgb(214, 214, 214);
}

a:hover{
    color: rgb(236, 236, 236);
    background-color: #4c2f6f;
    border-radius: 5px;
  	padding: 4.5px;
}

#texto{
    text-align: left;
    color: rgb(238, 238, 238);
}

#texto a{
    color:rgb(236, 236, 236);
}

#texto a:hover{
    color: rgb(235, 235, 235);
    background-color: #1d1d1d;
    border-radius: 5px;
  	padding: 4.5px;
}

#creditos{
    color: rgb(238, 238, 238);
    text-align: bottom;
}

#foto_familia img{
    width: 50%;
    height: auto;
    float: right;
}